body{
text-align: center;
color: #000000;
background: url("file:///C:/Users/Isaac/Desktop/OtherScheisse/HTML/macy.jpg");
}

p{
font-size: 20px;
outline-color: #ffffff
}

p span{
background-color: white;
}

h1 span{
background-color: white;
}

a{
font-size: 20px;
}

a span{
background-color: white;
}